{% extends 'awwward/base.html' %} {% load static %} {% block content %}
<div class="row">
  <div class="col-md-12">
    <p><strong> Site of the Day </strong> {{ now | date:"D d M Y"}}</p>
  </div>
</div>
<div class="row">
    {% for project in projects %}
    <div class="col-md-4">
      <div class="card border-0 shadow">
        <img
          class="card-img-top"
          src="{% static 'awwward/1.jpg'%}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title"><strong>{{project.creator}}</strong><span class="float-end text muted "><small>{{project.timestamp}}</small></span></h5>
          
          <div class="card-footer">
            <small class="text-uppercase">by {{project.creator}}</small>
          </div>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
