{% extends 'awwward/base.html' %} 
{% load crispy_forms_tags %} 
{% load static %} 
{% block content %}
<div class="row">
    <div class="col-md-4">
      <div class="card border-0 shadow">
        <img
          class="card-img-top"
          src="{{project.image.url}}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title"><strong>{{project.creator}}</strong><span class="float-end text muted "><small>{{project.timestamp}}</small></span></h5>
          
          <div class="card-footer">
            <small class="text-uppercase">by {{project.creator}}</small>
          </div>
        </div>
      </div>
    </div>
  
  <div class="col-md-8">
    <form method="post" action="/blog/comment">
      {% csrf_token %}
      <h3>Add a rating</h3>
      {{ rating_form|crispy }}
      <input type="hidden" name="entry" value="{{ project.pk }}">
      <p><input type="submit"></p>
  </form>
  </div>
  <div class="row">
      {% for rating in project.ratings.all %}
      <p>{{rating.creator.username}}</p>
      <p>{{rating.timestamp}}</p>
        <div class="col-4">
          <div class="c100 p{{ rating.design }}0 small light center orange">
            <span>{{ rating.design }}0%</span>
            <div class="slice">
              <div class="bar">
              </div>
              <div class="fill">
              </div>
            </div>
          </div>
          <p class="text-center">Design</p>
        </div>
        <div class="col-4">
          <div class="c100 p{{ rating.usability }}0 small light center green">
            <span>{{ rating.usability }}0%</span>
            <div class="slice">
              <div class="bar">
              </div>
              <div class="fill">
              </div>
            </div>
          </div>
          <p class="text-center">Usability</p> 

        </div>
        <div class="col-4">
          <div class="c100 p{{ rating.content }}0 small light center blue">
            <span>{{ rating.content }}0%</span>
            <div class="slice">
              <div class="bar">
              </div>
              <div class="fill">
              </div>
            </div>
          </div>
          <p class="text-center">Content</p> 

        </div>

      {% endfor %}
    </div>
</div>
</div>

{% endblock %}
