{% extends 'awwward/base.html' %} 
{% load crispy_forms_tags %} 
{% load static %} 
{% block content %}
<div class="row">
    <div class="col-md-4">
      <div class="card border-0 shadow">
        <img
          class="card-img-top"
          src="{{project.image.url}}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title"><strong>{{project.creator}}</strong><span class="float-end text muted "><small>{{project.timestamp}}</small></span></h5>
          
          <div class="card-footer">
            <small class="text-uppercase">by {{project.creator}}</small>
          </div>
        </div>
      </div>
    </div>
  
  <div class="col-md-8">
    <form method="post" action="/blog/comment">
      {% csrf_token %}
      <h3>Add a rating</h3>
      {{ rating_form|crispy }}
      <input type="hidden" name="entry" value="{{ project.pk }}">
      <p><input type="submit"></p>
  </form>
  </div>
  <div class="row">
    <div class="col-md-1">
      {% for rating in project.ratings.all %}
      <p>{{rating.design}}</p>
      <p>{{rating.usability}}</p>
      <p>{{rating.content}}</p>
      <p>{{rating.creator.username}}</p>
      <p>{{rating.timestamp}}</p>
      {% endfor %}
    </div>
  </div>
</div>
</div>
{% endblock %}

